<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Highlighting with Prism.js</title>
  <link rel="stylesheet" href="/static/css/prism.css">
</head>
<body>

  <label for="function-select">Select a function:</label>
  <select id="function-select" onchange="updateCode()">
    <option value="function1">Function 1</option>
    <option value="function2">Function 2</option>
    <option value="function3">Function 3</option>
    <!-- Add more options for other functions as needed -->
  </select>

  <pre>
    <code id="pythonCode" class="language-javascript"></code>
  </pre>

  <script src="/static/js/prism.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      Prism.highlightAll();
    });

    function updateCode() {
      var selectedFunction = document.getElementById('function-select').value;
      var codeBlock = document.getElementById('pythonCode');

      // Add code snippets based on the selected function
      switch (selectedFunction) {
        case 'function1':
          codeBlock.textContent = 'def write_to_csv(data, filename):\n' +
            '    """\n' +
            '    import csv\n' +
            '    参数:\n' +
            '    - data: 要写入的数据，以字典形式表示\n' +
            '    - filename: 要写入的CSV文件名\n' +
            '    - 可套入循环追加填写，不会被顶替\n' +
            '    """\n' +
            '    with open(filename, \'a\', newline=\'\', encoding=\'utf_8_sig\') as csvfile:\n' +
            '        fieldnames = data.keys();\n' +
            '        writer = csv.DictWriter(csvfile, fieldnames=fieldnames);\n' +
            '\n' +
            '        // 检查文件是否已存在，如果不存在，则写入标题行\n' +
            '        if csvfile.tell() == 0:\n' +
            '            writer.writeheader();  // 写入CSV文件的标题行\n' +
            '        // 写入数据\n' +
            '        writer.writerow(data);';
          break;
        case 'function2':
          codeBlock.textContent = ' writer.writerow(data);';
          break;
        case 'function3':
          codeBlock.textContent = '待更新';
          break;
        // Add more cases for other functions as needed
      }

      // Re-highlight the code block
      Prism.highlightElement(codeBlock);
    }
  </script>

</body>
</html>
